Web References/mx.com.tusfacturas.www/TimbradorIntegradores.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://integradores.cfdi.mx.konesh.com" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://integradores.cfdi.mx.konesh.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>TimbradorIntegradores</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://integradores.cfdi.mx.konesh.com">
      <xs:element name="TimbradorIntegradoresException">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="TimbradorIntegradoresException" nillable="true" type="ns:Exception" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="get">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="cad" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="tk" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="cuenta" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="getRequest">
    <wsdl:part name="parameters" element="ns:get" />
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part name="parameters" element="ns:getResponse" />
  </wsdl:message>
  <wsdl:message name="TimbradorIntegradoresException">
    <wsdl:part name="parameters" element="ns:TimbradorIntegradoresException" />
  </wsdl:message>
  <wsdl:portType name="TimbradorIntegradoresPortType">
    <wsdl:operation name="get">
      <wsdl:input wsaw:Action="urn:get" message="ns:getRequest" />
      <wsdl:output wsaw:Action="urn:getResponse" message="ns:getResponse" />
      <wsdl:fault wsaw:Action="urn:getTimbradorIntegradoresException" name="TimbradorIntegradoresException" message="ns:TimbradorIntegradoresException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TimbradorIntegradoresSoap11Binding" type="ns:TimbradorIntegradoresPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get">
      <soap:operation soapAction="urn:get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TimbradorIntegradoresException">
        <soap:fault use="literal" name="TimbradorIntegradoresException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TimbradorIntegradoresSoap12Binding" type="ns:TimbradorIntegradoresPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get">
      <soap12:operation soapAction="urn:get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="TimbradorIntegradoresException">
        <soap12:fault use="literal" name="TimbradorIntegradoresException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TimbradorIntegradoresHttpBinding" type="ns:TimbradorIntegradoresPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="get">
      <http:operation location="get" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimbradorIntegradores">
    <wsdl:port name="TimbradorIntegradoresHttpsSoap11Endpoint" binding="ns:TimbradorIntegradoresSoap11Binding">
      <soap:address location="https://www.tusfacturas.com.mx/axis2/services/TimbradorIntegradores.TimbradorIntegradoresHttpsSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="TimbradorIntegradoresHttpSoap11Endpoint" binding="ns:TimbradorIntegradoresSoap11Binding">
      <soap:address location="http://lb02.cfdinova.com.mx/axis2/services/TimbradorIntegradores.TimbradorIntegradoresHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="TimbradorIntegradoresHttpSoap12Endpoint" binding="ns:TimbradorIntegradoresSoap12Binding">
      <soap12:address location="http://lb02.cfdinova.com.mx/axis2/services/TimbradorIntegradores.TimbradorIntegradoresHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="TimbradorIntegradoresHttpsSoap12Endpoint" binding="ns:TimbradorIntegradoresSoap12Binding">
      <soap12:address location="https://www.tusfacturas.com.mx/axis2/services/TimbradorIntegradores.TimbradorIntegradoresHttpsSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="TimbradorIntegradoresHttpEndpoint" binding="ns:TimbradorIntegradoresHttpBinding">
      <http:address location="http://lb02.cfdinova.com.mx/axis2/services/TimbradorIntegradores.TimbradorIntegradoresHttpEndpoint/" />
    </wsdl:port>
    <wsdl:port name="TimbradorIntegradoresHttpsEndpoint" binding="ns:TimbradorIntegradoresHttpBinding">
      <http:address location="https://www.tusfacturas.com.mx/axis2/services/TimbradorIntegradores.TimbradorIntegradoresHttpsEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>